<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="esriapps" type="EsriApplicationChooser.Configuration,EsriApplicationChooser,Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>
  <appSettings>
    <add key="browser" value="C:\Program Files (x86)\Mozilla Firefox\Firefox.exe"/>
  </appSettings>
  <esriapps>
    <applications>
      <application key="arcmap" location="C:\Program Files (x86)\ArcGIS\bin\ArcMap.exe" title="ArcMap"/>
      <application key="arccatalog" location="C:\Program Files (x86)\ArcGIS\bin\ArcCatalog.exe" title="ArcCatalog"/>
    </applications>
    <services>
      <service key="arcgisserver" name="ArcServerObjectManager" title="ArcGIS Server"/>
    </services>
    <urls>
      <url key="manager" url="http://AQUABX587:80/ArcGIS/Manager/default.aspx" title="ArcGIS Server Manager"/>
      <url key="rest" url="http://AQUABX587:80/ArcGIS/rest" title="ArcGIS Server Rest"/>
    </urls>
  </esriapps>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
